/problematicas/JavaApplication6/nbproject/private/
/problematicas/JavaApplication6/build/
/problematicas/Problematica2/nbproject/private/
/problematicas/Problematica2/build/
/problematicas/Problematica3/nbproject/private/
/problematicas/Problematica3/build/
/problematicas/Problematica4/nbproject/private/
/problematicas/Problematica4/build/
